button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@keyframes pulsation {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(126, 255, 73, 1);
      }
    
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(116, 255, 118, 0);
      }
    
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(116, 255, 118, 0);
      }
}

img {
    object-fit: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
